*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    height: 60px;
    width: 100%;
    background-color: rgb(56, 52, 52);
}
header p{
    line-height: 60px;
}
.chain p{
    font-weight: 500;
}
.support{
    position: relative;
    margin-left: 120px;
}
.support p{
    font-weight: 500;
}
.support .icon{
    position: absolute;
    top: 15px;
    left: -30px;
    font-size: 25px;
    color: red;
}
.contact{
    background-color: white;
    height: 40px;
}
.contact .sliding{
    width: 80%;
    margin: auto;
    text-align: center;
    /* justify-content: center; */
}
.contact .prize{
    color: red;
    font-weight: 500;
}
.contact p{
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
}
.main-contact{
    position: sticky;
    top: 0px;
    z-index: 3;
}
menu{
    height: 70px;
    background-color: rgb(240, 40, 40);
    display: flex;
}
menu div img{
    height: 50px;
    width: 175px;
    margin-top: 10px;
    border-radius: 10px;
}

menu .product ul{
    list-style: none;
    display: flex;
}
menu .product ul li{
    margin-right: 30px;
}
menu .product .mainmenu .list{
    line-height: 70px;
}
menu .product .mainmenu li a{
    font-weight: 600;
}
menu .product ul li a{
    text-decoration: none;
    color: white;
}
.search{
    position: relative;
}
.search input{
    width: 300px;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid white;
}
.submenu{
    display: none;
    z-index: 3;
}
.submenu ul{
    background-color: white;
    border-top: 3px solid black;
    width: 250px;
}
.submenu ul li{
    line-height: 40px;
}
.mainmenu li:hover .submenu{
    display: block;
    position: absolute;
}
.mainmenu li:hover .submenu ul{
    display: block;
}
.mainmenu li:hover .submenu ul li a{
    color: rgba(61, 57, 57, 0.671);
    font-weight: 600;
    margin-left: 50px;
}
.mainmenu li:hover .submenu ul li a:hover{
    color: rgb(37, 35, 35);
}
.picture{
    background-color: rgba(128, 128, 128, 0.151);
    height: 330px;
}
.picture div{
    width: 1330px;
    margin: auto;
}
.picture img{
    height: 280px;
    width: 1330px;
    border-radius: 10px;
}